<script setup>
import CongratButton from "../components/CongratButton.vue";
import MessageField from "../components/MessageField.vue";
import PageTitle from "../components/PageTitle.vue";
import TextField from "../components/TextField.vue";
</script>
<template>
  <div class="congrat-page">
    <PageTitle
      class="congrat-title"
      title="Messages to us"
      subtitle="Lời chúc mừng"
      :iswhite="true"
    />
    <div class="congrat-container">
      <div class="blessing">
        <MessageField :blessings="blessings" />
      </div>
    </div>
    <div class="footer">
      <div class="title-footer">
        Copyright © 2022 Đỗ Minh Giang. All Rights Reserved
      </div>
      <div></div>
    </div>
  </div>
</template>

<script>
import {
  getCongrats,
  addCongrats,
  getUploadStatus,
  loginAnonymously,
  generatePhotos,
  showAllItem,
} from "../services/firebase_service.js";
export default {
  data() {
    return {
      currentText: "",
      sentCongrats: false,
      blessings: [],
      fileLink: [],
      uploadStatus: false,
    };
  },
  props: {
    name: String,
  },
  async mounted() {
    await loginAnonymously();
    let congrats = await getCongrats();
    congrats.forEach((element) => {
      this.blessings.push(element);
    });

    // this.fileLink = await showAllItem();
  },
  methods: {
    async sendCongrat() {
      try {
        await addCongrats(this.name, this.currentText, true);
        this.blessings = await getCongrats();
        this.uploadStatus = true;
      } catch (error) {}
    },
  },
};
</script>

<style scoped>
.congrat-page {
  background-position: 50% 80%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/8.jpg?alt=media&token=1d851883-8786-4771-8aa9-b1879551ea5d");
}
.footer {
  padding: 4rem;
}
@media screen and (max-width: 600px) {
  .mobile-off {
    display: none;
  }
  .congrat-container {
    flex-direction: column;
    align-items: center;
  }
  .congrat-page {
    background-position: 65% 80%;
    background-size: cover;
  }
}
@media screen and (min-width: 600px) {
  .divider {
    display: none;
  }
}
.title-footer {
  color: white;
  font-size: 1.1rem;
}
.congrat-title {
  padding-bottom: 0;
}
</style>
