<template>
  <div class="galery-page">
    <PageTitle title="Gallery" subtitle="Ảnh cưới" />
    <div class="galery">
      <div
        v-for="(photo, index) in photos"
        :key="index"
        :class="[0, 4].includes(index) ? 'galery-item tall' : 'galery-item'"
      >
        <img class="images" :src="photo.url" />
      </div>
    </div>
    <div class="gallery-row" id="top">
      <div
        class="next-page-button"
        v-on:click="clearIndex"
        v-if="currentPage > 2"
      >
        <div class="svg">
          <svg
            width="20"
            height="20"
            viewBox="0 0 458 533"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M457.553 289.304C450.834 176.184 358.994 83.784 245.873 75.384V11.544C245.873 2.02453 234.674 -3.57697 227.393 2.58313L97.4732 105.623C91.8716 110.104 91.8716 119.064 97.4732 123.545L227.393 226.025C234.674 232.185 245.873 226.584 245.873 217.064V155.462C325.393 164.423 385.873 236.661 376.913 320.102C369.632 388.418 314.194 443.862 245.873 451.142C160.752 460.662 87.3932 397.943 80.1132 316.182C79.5546 308.901 73.3944 303.303 66.1132 303.303H14.0352C5.63681 303.303 -0.523793 310.022 0.0352066 318.424C8.43361 437.704 107.555 532.344 229.075 532.344C359.555 532.344 465.395 422.024 457.555 289.304L457.553 289.304Z"
            />
          </svg>
        </div>
      </div>

      <div
        class="next-page-button"
        v-on:click="addToCurrentPhotos"
        v-if="allPhotos.length > currentIndex"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 224 247"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 12.4054V234.725C0 243.686 5.60161 249.284 10.641 245.924L153.441 138.404C159.043 133.924 159.043 121.045 153.441 116.564L10.641 1.20438C5.60191 -2.71752 0 3.44267 0 12.4034V12.4054Z"
          />
          <path
            d="M215.04 246.485H186.481C181.442 246.485 177.521 242.563 177.521 237.524V9.04439C177.521 4.00529 181.442 0.0834961 186.481 0.0834961H215.04C220.08 0.0834961 224.001 4.00539 224.001 9.04439V237.524C224.001 242.563 220.079 246.481 215.04 246.481V246.485Z"
          />
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
import { getPhotos } from "../services/firebase_service.js";
export default {
  async created() {
    this.allPhotos = await getPhotos();
    // this.allPhotos = this.allPhotos.reverse();
    this.getInitialPhotos();
  },
  data() {
    return {
      currentIndex: 0,
      currentPage: 1,
      photos: [],
      allPhotos: [],
    };
  },
  methods: {
    clearIndex() {
      this.currentIndex = 0;
      this.currentPage = 1;
      this.getInitialPhotos();
      this.scrollToTop();
    },
    getInitialPhotos() {
      if (this.allPhotos.length < this.currentPage * 7) {
        this.photos = this.allPhotos;
      } else {
        this.photos = this.allPhotos.slice(this.currentIndex, 7);
        this.currentIndex = this.currentIndex + 7;
        this.currentPage++;
      }
    },
    addToCurrentPhotos() {
      var me = this;
      if (this.allPhotos.length > this.currentPage * 7) {
        this.photos = this.allPhotos.slice(
          this.currentIndex,
          7 * this.currentPage
        );

        this.currentIndex = this.currentIndex + 7;
        this.currentPage++;
      } else if (
        this.allPhotos.length < this.currentPage * 7 &&
        this.allPhotos.length > this.currentIndex
      ) {
        this.photos = this.allPhotos.slice(
          this.currentIndex,
          this.allPhotos.length
        );
        this.currentIndex = this.currentIndex + 7;
        this.currentPage++;
      }
      this.scrollToTop();
    },
    scrollToTop() {
      this.$emit("totop");
    },
  },
};
</script>
<script setup>
import PageTitle from "../components/PageTitle.vue";
import GalleryButton from "../components/GalleryButton.vue";
</script>
<style scoped>
.gallery-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.title-text {
  font-size: 0.9rem;
  color: #434343;
}

.next-page-button {
  background: white;
  border: 2px solid #ac8969;
  width: 40px;
  height: 40px;
  margin: 2rem;
  color: #ac8969;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  flex-direction: column;
  display: flex;
  text-transform: uppercase;
  font-size: 2rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  fill: #ac8969;
}
.next-page-button:hover path {
  transition: 0.5s ease-in-out;
  fill: white;
}
.next-page-button:hover {
  transition: 0.5s ease-in-out;
  background: #ac8969;
  color: white;
}
.galery-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes transformScaling {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.galery-item {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 transformScaling;
}
@media screen and (max-width: 600px) {
  .galery {
    display: flex;
    flex-direction: column;
  }
  .images {
    width: 70vw;
    cursor: pointer;
    object-fit: fit-width;
  }
  .images:hover,
  .images:active {
    transform: scale(1.4) translateX(0px);
    transition: 0.4s ease;
  }
}
@media screen and (min-width: 600px) {
  .galery {
    display: grid;
    grid-gap: 10px;
    width: 70vw;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
  }
  .galery .galery-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .galery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .galery .wide {
    grid-column: span 1;
  }
  .galery .tall {
    grid-row: span 2;
  }
  .galery .big {
    grid-column: span 1;
    grid-row: span 2;
  }
  .images {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
  }
  .images:hover,
  .images:active > img {
    transform: scale(1.2);
    height: auto;
    transition: 0.8s ease;
    object-fit: scale-down;
    border-radius: 10px;
  }
}
</style>
