<template>
  <div class="home-page">
    <NavBar v-on:navbarClick="onNavBarClick" />
    <WordDrawing class="name-title" />
    <div class="title-block">
      <div class="date-title rotate">
        <span>18.7.2022</span>
      </div>
      <div class="size-box"></div>
      <!-- <div class="welcome-title">
        <span>Come to our wedding</span>
      </div> -->
    </div>
  </div>
</template>
<script setup>
import HelloWorld from "../components/HelloWorld.vue";
import NavBar from "../components/NavBar.vue";
import WordDrawing from "../components/WordDrawing.vue";
</script>

<script>
export default {
  components: {
    HelloWorld,
    NavBar,
    WordDrawing,
  },
  methods: {
    onNavBarClick(navItem) {
      this.$emit("navbarclick", navItem);
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&display=swap");
/* @keyframes transformScaling {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */
@keyframes cakeOpacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.size-box {
  height: 2rem;
}
.title-block {
  margin-bottom: 2rem;
}
.rotate {
  transform: rotate(-2deg);
}
.date-title {
  font-family: "Liu Jian Mao Cao", cursive;
  font-size: 50px;
  font-weight: bold;
  color: #a4d5ff;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 0.4rem;
  margin-left: 1rem;
}

.welcome-title {
  padding-top: 4rem;
  font-size: 24px;
  color: #c6c1c1;
  text-align: start;
  font-family: "Baskervville", serif;
  font-style: italic;
}
.cake-img {
  animation: 2s ease-out 0s 1 cakeOpacity;
}
.home-page {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 cakeOpacity;
  padding: 2rem;
  padding-left: 5rem;
  height: 100vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/bg.png?alt=media&token=e9bed2e1-28c0-4828-a3dd-a9631389e8a6");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(52, 51, 51, 0.3);
  background-position: center;
}
.name-title {
  margin-top: 14rem;
}
@media screen and (max-width: 600px) {
  .date-title {
    font-size: 20px;
    text-align: right;
  }
  .home-page {
    background-position: 90% 20%;
    padding: 0.5rem;
  }
  .name-title {
    margin-top: 6rem;
  }
}
</style>
