<template>
  <div class="invitation-page">
    <PageTitle title="Invitation" subtitle="Lời mời" />
    <div class="invitation">
      <div class="sized-box"></div>
      <div class="welcome-text">Trân trọng kính mời {{ type }}</div>
      <div class="receiver-name">{{ name }}</div>

      <div class="welcome-text" style="margin-top: 1rem">{{ withPerson }}</div>
      <div class="welcome-text">Tới dự tiệc mừng hôn lễ của {{ ourSelf }}.</div>
      <div class="sized-box"></div>
      <div class="location" v-on:click="goToMap">
        Vào lúc 11 giờ 0 phút <br />
        Thứ hai, ngày 18 tháng 7 năm 2022 <br />
        (Tức ngày 20 tháng 6 năm Nhâm Dần)
        <!-- </div> -->
      </div>
      <div class="divider-text"></div>
      <!-- <div class="location-row">
        <div class="date-time">
          <div class="month">Tháng 7</div>
          <div class="date">18</div>
          <div class="year">2022</div>
        </div>

        <div class="divider-vertical"></div> -->
      <div class="location" v-on:click="goToMap">
        <a style="cursor: pointer" url="https://goo.gl/maps/QRw5iuymgecJF7kh8">
          <span>Tại:</span> <b> Tầng 2</b>, TRỐNG ĐỒNG PALACE CẢNH HỒ,<br />
          <span style="text-decoration: underline"
            >Số 173B Trường Chinh, Khương Mai, Thanh Xuân, Hà Nội</span
          ></a
        >
        <!-- </div> -->
      </div>
      <div class="subtitle">
        Sự hiện diện của {{ type }} là niềm vinh hạnh cho gia đình {{ ourSelf }}
      </div>
      <div class="parent-row">
        <img
          src="/images/flower.png"
          class="traslate-flower mobile-on"
          alt=""
        />
        <div class="parent-item">
          <div class="parent-title">Nhà trai</div>
          <div class="parent-text">Đỗ Văn Lễ</div>
          <div class="parent-text">Nguyễn Thị Thúy</div>
        </div>
        <div class="sized-box mobile-on"></div>

        <img
          src="/images/flower.png"
          class="traslate-flower mobile-off"
          alt=""
        />
        <div class="parent-item">
          <div class="parent-title">Nhà gái</div>
          <div class="parent-text">Vũ Xuân Nguyệt Hồng</div>
        </div>
      </div>
      <div class="divider-text"></div>

      <div class="attend" v-if="!didSend || !uploadStatus">
        <div class="attend" v-if="!didSend">
          <div class="title-attend">
            Cho {{ ourSelf }} biết {{ type }} sẽ tham dự đám cưới của
            {{ ourSelf }}nhé!
          </div>
          <div class="tick-row">
            <div class="radio-row" v-on:click="going = 'true'">
              <input
                type="radio"
                class="radio-input"
                v-model="going"
                value="true"
                v-on:click="going = 'true'"
              />
              <label class="radio-title" v-on:click="going = 'true'"
                >{{ type }} chắc chắn sẽ tham dự !</label
              >
            </div>

            <div class="radio-row" v-on:click="going = 'false'">
              <input
                type="radio"
                class="radio-input"
                v-model="going"
                value="false"
                v-on:click="going = 'false'"
              />
              <label class="radio-title" v-on:click="going = 'false'"
                >Xin lỗi, {{ type }} không thể tham dự.
              </label>
            </div>
          </div>
        </div>
        <div class="sized-box" v-if="!uploadStatus"></div>
        <textarea
          class="text-field"
          :placeholder="`Hãy gửi những lời chúc mừng của ${type} tại đây.`"
          type="text"
          v-model="fuck"
        ></textarea>
        <GalleryButton
          class="galery-next"
          :button-title="loading ? 'Sending...' : 'Let us know'"
          v-on:click="addAttendingStatus"
        />
      </div>
      <div class="sized-box"></div>
      <div class="thank-you">
        <div v-if="uploadStatus">
          Cảm ơn {{ type }} {{ name }} vì những lời chúc dành cho {{ ourSelf }}.
          Rất mong {{ type }} {{ name }} cùng chung vui với {{ ourSelf }} tại lễ
          cưới sắp tới!
        </div>
        <div v-if="from == 2">
          Không phải ai cũng tham dự được đám cưới của {{ ourSelf }}. Nếu muốn,
          {{ type }} {{ name }} có thể mừng một khoản nho nhỏ cho
          {{ ourSelf }}tại:
        </div>
      </div>
      <div class="sized-box"></div>
      <div class="bank-row" v-if="from == 2">
        <div
          class="bank-item"
          v-on:click="copyClipboard('19033414387019', 'Đỗ Minh Giang')"
        >
          <div class="bank-title">DO MINH GIANG</div>
          <b>Techcombank</b>
          <!-- v-clipboard:copy="'19033414387019'"
            v-clipboard:success="onCopy"
            v-clipboard:error="onError" -->
          <div class="bank-number">
            <svg
              width="19"
              height="24"
              class="copy-icon"
              viewBox="0 0 19 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14 0H2C0.9 0 0 0.944528 0 2.09895V16.7916H2V2.09895H14V0ZM17 4.1979H6C4.9 4.1979 4 5.14243 4 6.29685V20.9895C4 22.1439 4.9 23.0885 6 23.0885H17C18.1 23.0885 19 22.1439 19 20.9895V6.29685C19 5.14243 18.1 4.1979 17 4.1979ZM17 20.9895H6V6.29685H17V20.9895Z"
                fill="black"
              />
            </svg>

            <b>19033414387019</b>
          </div>
          <div class="qr-code">
            <img src="/images/qr-giang.png" alt="" />
          </div>
        </div>
        <div class="sized-box mobile-on"></div>
        <div class="vertical-divider"></div>
        <div class="bank-item">
          <div class="bank-title">LE NGUYET MINH</div>
          <b>Techcombank</b>
          <!-- v-clipboard:copy="'19035796592019'"
            v-clipboard:success="onCopy"
            v-clipboard:error="onError" -->
          <div
            class="bank-number"
            ref="bankminh"
            v-on:click="copyClipboard('19035796592019', 'Lê Nguyệt Minh')"
          >
            <svg
              width="19"
              height="24"
              viewBox="0 0 19 24"
              fill="none"
              class="copy-icon"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14 0H2C0.9 0 0 0.944528 0 2.09895V16.7916H2V2.09895H14V0ZM17 4.1979H6C4.9 4.1979 4 5.14243 4 6.29685V20.9895C4 22.1439 4.9 23.0885 6 23.0885H17C18.1 23.0885 19 22.1439 19 20.9895V6.29685C19 5.14243 18.1 4.1979 17 4.1979ZM17 20.9895H6V6.29685H17V20.9895Z"
                fill="black"
              />
            </svg>
            <b id="bank-number">19035796592019</b>
          </div>
          <div class="qr-code">
            <img src="/images/qr-minh.png" alt="" />
          </div>
        </div>
      </div>
      <div class="sized-box"></div>
    </div>
  </div>
</template>

<script>
import PageTitle from "../components/PageTitle.vue";
import GalleryButton from "../components/GalleryButton.vue";
import TextField from "../components/TextField.vue";
import {
  getAttendingStatus,
  addGoingStatus,
  loginAnonymously,
  getUploadStatus,
  addCongrats,
} from "../services/firebase_service.js";

function capitalizeFirstLetter(string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
export default {
  components: { TextField, GalleryButton, PageTitle },
  props: {
    name: String,
    type: String,
    from: Number,
    with: String,
  },
  setup: () => ({
    fuck: "",
  }),
  data() {
    return {
      withPerson: "",
      uploadStatus: false,
      loading: false,
      going: "true",
      // fuck: "",
      didSend: false,
      withText: "Và gia đình",
      withName: " bạn",
      ourSelf: "của hai con chúng tôi ",
      location: `TẠI:
                  Tầng 2
                  TRỐNG ĐỒNG PALACE CẢNH HỒ,
                  Số 173B Trường Chinh, Khương Mai, Thanh Xuân, Hà Nội`,
      invitation:
        "Tới dự tiệc mừng hôn lễ cùng gia đình chúng tôi vào lúc 11 giờ 0 phút.",
    };
  },
  async created() {
    this.withPerson = this.with;
    await loginAnonymously();
    if (this.from == 1) {
      this.ourSelf = "hai con chúng tôi ";
    } else if (this.from == 3) {
      this.ourSelf = "chúng cháu ";
    } else {
      this.ourSelf = "chúng tôi ";
    }
    let personName =
      this.from == 1 ? `${this.name} from parent` : `${this.name} from us`;
    await this.getAttending(personName);
    this.uploadStatus = await getUploadStatus(
      capitalizeFirstLetter(this.type) + " " + this.name
    );
  },
  methods: {
    async copyClipboard(bankid, name) {
      var copyTextarea = document.getElementById("bank-number");
      copyTextarea.focus();
      await navigator.clipboard.writeText(bankid);
      alert(`Bạn đã copy số tài khoản của ${name}.`);
    },
    goToMap() {
      window.open("https://goo.gl/maps/QRw5iuymgecJF7kh8");
    },
    async getAttending(personName) {
      let status = await getAttendingStatus(personName);
      this.didSend = status;
    },
    async addAttendingStatus() {
      var me = this;
      if (this.loading) {
        return;
      }
      this.loading = true;
      let personName =
        this.from == 1 ? `${this.name} from parent` : `${this.name} from us`;
      try {
        let status = await addGoingStatus(personName, this.going);
      } catch (error) {
        this.loading = false;
        console.log(error);
      }

      if (me.fuck != "") {
        await this.sendCongrat();
      } else {
        this.loading = false;
        alert(
          `Cảm ơn bạn đã cho chúng tôi biết bạn có tham dự đám cưới của chúng tôi!`
        );
      }
      this.didSend = true;
    },
    async sendCongrat() {
      var me = this;
      try {
        await addCongrats(
          capitalizeFirstLetter(me.type) + " " + me.name,
          me.fuck,
          true
        );
        this.uploadStatus = true;
        this.$emit("sent");
        alert(
          `Cảm ơn bạn đã gửi lời chúc mừng cho chúng tôi và cho chúng tôi biết bạn có tham dự đám cưới của chúng tôi! Lời chúc của bạn sẽ được hiển thị ở mục Lời chúc dưới đây`
        );
        this.loading = false;
      } catch (error) {
        this.loading = false;
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=WindSong&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap");
.attend {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vertical-divider {
  width: 1px;
  background-color: #d9d9d9;
}
.title-attend {
  margin-top: 1rem;
  font-family: "Niramit";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.traslate-flower {
  width: 94px;
  height: 94px;
}
.copy-icon {
  padding-right: 0.5rem;
}

.text-field {
  height: 20vh;
  display: block;
  width: 100%;
  border: 1px solid #ac8969;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-family: "Niramit";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: #ac8969;
}
.text-field::placeholder {
  color: #ac8969;
}
@media screen and (max-width: 600px) {
  .text-field {
    height: 20vh;
    display: block;
    width: 80vw;
  }
}
.bank-title {
  font-family: "Niramit";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  color: #ac8969;
  text-align: center;
  margin-bottom: 1rem;
}
.bank-item {
  font-family: "Niramit";
  font-size: 18px;
  line-height: 23px;
  flex: 50%;
}
.bank-number {
  padding-bottom: 2rem;
}
.bank-row {
  display: flex;
  width: 100%;
}
.bank-number {
  cursor: pointer;
}
.tick-row {
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.thank-you {
  font-family: "Niramit";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  color: #434343;
}
.parent-title {
  font-family: "Niramit";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ac8969;
  padding-bottom: 1rem;
}
.parent-text {
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}
.name-title {
  font-family: Prata;
  font-size: 26px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.invitation {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radio-title {
  padding-left: 1.2rem;
  font-family: "Niramit";
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
  line-height: 26px;
  line-height: 26px;
}
.sized-box {
  height: 5rem;
}
.subtitle {
  font-family: "Niramit";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #434343;
}
.invitation-page {
  color: #434343;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: 340px 300px;
}
.parent-row {
  padding-top: 8rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 4rem;
}
.parent-item {
  flex: 50%;
}
.divider-text {
  height: 1px;
  background-color: #d9d9d9;
  width: 50%;
}
.radio-row {
  display: flex;
  height: 4rem;
}

.click-on {
  color: gray;
  text-decoration: underline;
}
.welcome-text {
  font-family: "Niramit", sans-serif;
  font-size: 14px;
  margin-bottom: 1rem;
}
.location-row {
  display: flex;
}
.location {
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  padding: 1rem;
  line-height: 1.4rem;
  width: 100%;
}
/* input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  position: relative;
  background-color: white;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ac8969;
}

input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  position: relative;
  background-color: #ac8969;
  content: "X";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ac8969;
} */

.radio-input {
  margin-bottom: 38px;
}
.date-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 20vw;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #ac8969;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media screen and (min-width: 600px) {
  .mobile-on {
    display: none;
  }
  .location {
    line-height: 2rem;
  }
  .date-time {
    width: 99%;
  }
  .receiver-name {
    font-family: "WindSong", cursive;
    font-size: 80px;
    color: #ac8969;
  }
}
@media screen and (max-width: 600px) {
  .bank-row {
    flex-direction: column;
  }
  .traslate-flower {
    padding-bottom: 4rem;
  }
  .parent-row {
    flex-direction: column;
    align-items: center;
  }
  .mobile-off {
    display: none;
  }
  .receiver-name {
    font-family: "WindSong", cursive;
    font-size: 50px;
    color: #ac8969;
  }
}

.date {
  font-family: CrimpsonPro;
  font-size: 40px;
  font-weight: bold;
}
</style>
