<template>
  <div class="story-page">
    <PageTitle title="Our story" subtitle="Câu chuyện của chúng tôi" />
    <div class="our-story">
      <div
        v-for="(story, index) in stories"
        :key="index"
        :class="
          index % 2 === 0
            ? 'story-item story-mobile'
            : 'story-reverse  story-mobile'
        "
      >
        <div class="story-image">
          <img :src="story.src" alt="" />
        </div>
        <div class="mobile-on">
          <div class="story-title margin-text">{{ story.title }}</div>
          <div class="story-date margin-text">{{ story.date }}</div>
          <div class="story-detail margin-text">{{ story.story }}</div>
        </div>
        <div class="story-divider">
          <div class="story-node"></div>
        </div>

        <div
          :class="
            index % 2 === 0
              ? 'story-text text-align'
              : 'story-text text-align-reverse'
          "
        >
          <div class="story-title margin-text">{{ story.title }}</div>
          <div class="story-date margin-text">{{ story.date }}</div>
          <div class="story-detail margin-text">{{ story.story }}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import PageTitle from "../components/PageTitle.vue";
</script>
<script>
export default {
  methods: {
    selectStory(index) {
      this.currentIndex = index;
    },
  },
  data() {
    return {
      src: "https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/minh-birth.png?alt=media&token=84cdd1f0-0867-4d22-aea8-f202aa0a3be3",
      currentIndex: 0,
      stories: [
        {
          date: "06-05-1996",
          story: `Một bé gái xinh đẹp được ra đời, nặng 3.5 cân 👶🏻. 
Ảnh chụp hồi bé thì 99% là đang cười toe toét như thế này :))) Tuổi thơ cũng hay ốm lắm, gầy nhong nheo nên ở nhà gọi là Còi. `,

          title: "Cô dâu ra đời",
          active: true,
          src: "https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/minh-birth.png?alt=media&token=84cdd1f0-0867-4d22-aea8-f202aa0a3be3",
        },
        {
          date: "06-11-1996",
          story: `Cùng ngày đó 6 tháng sau, một bé trai nặng 3.7 cân ra đời 👶🏽, được xếp ngay vào giải hạng nặng.
Hồi bé nghịch ngợm ngã dập trán, sau đó bị sưng một cục to tướng mãi mà không lặn nên có cái tên Giang zô ở nhà.`,
          title: "Chú rể ra đời theo",

          active: false,
          src: "https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/babi.jpg?alt=media&token=012d5ca8-6c22-47c4-86c8-23f5db86acca",
        },
        {
          date: "2007",
          title: "Gặp gỡ",
          story:
            "Cả hai vào học cùng một lớp 6P tại trường THCS Marie Curie, nơi cả hai đã từng rất thân thiết vào năm lớp 9, nhưng do tuổi còn quá trẻ, cuộc đời đã đưa cả 2 đến 2 ngã rẽ khác nhau.",
          active: false,
          src: "https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/290038826_370423508511931_4417526303794826703_n.jpg?alt=media&token=cd943b3a-f41d-4d12-9b56-eeefcf525ee2",
        },
        {
          date: "2017",
          title: "Gặp lại lần nữa",

          story:
            "Tất cả là nhờ một buổi họp lớp, cả hai làm quen lại từ đầu. Từ nói chuyện rồi đi chơi với nhau, dần dần thế nào mà lại thành bạn thân.  ",
          active: false,
          src: "https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/meeting.jpeg?alt=media&token=797e9777-c63f-4fde-a245-8bcd3c5c4d7c",
        },
        {
          date: "2020",
          title: "Yêu nhau ",

          story: `Sau khi friendzone đã lâu trong nhiều năm đi du học ✈️, cô dâu quay trở về Việt Nam 🇻🇳  và nhận ra tình cảm của cả hai.
Thiên thời địa lợi, thế là chúng mình yêu nhau 👩‍❤️‍👨. `,
          active: false,
          src: "https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/290134752_2444819598994638_1245587714538970032_n.jpg?alt=media&token=43c85182-d401-4d95-a95a-c72fcc76e18c",
        },
        {
          date: "19-01-2021",
          title: "Cầu hun",

          story: `Chú rể đưa cô dâu đến Đà Lạt để cầu hôn 💍.
Ở đó có hai người bạn thân và một chú chó tên là Đốm 🐶 chứng giám cho chúng mình.   `,
          active: false,
          src: "https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/dalat.jpg?alt=media&token=7cf26d95-7544-496d-9f93-cdc414af31c4",
        },
        {
          date: "01-03-2021",
          title: "Our first big step",
          story: `Nhận nuôi hai anh em mèo ngốk nghếk nhất thế giới 😼
Từ những quyết định lớn đầu tiên này, sẽ còn nhiều bước tiếp theo nữa!
.
(To be continued...)`,
          active: false,
          src: "https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/sonycannon.jpg?alt=media&token=ab5a6f78-bba2-4fac-9dcc-e2dda6e15dc2",
        },
      ],
    };
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Italianno&display=swap");
.story-image {
  flex: 50%;
  display: flex;
  align-items: center;

  justify-content: center;
}

.story-image img {
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 2rem;
}
.story-divider {
  height: auto;
  width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ac8969;
}
.story-image > img {
  object-fit: contain;
  max-width: 80%;
}
.story-node {
  background-color: #ac8969;
  width: 10px;
  height: 10px;
  border-radius: 90px;
}
.story-detail {
  font-family: "Niramit", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ac8969;
  padding-top: 2rem;
}
.story-date {
  font-family: "Niramit", sans-serif;
  font-size: 20px;
}
.story-text {
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.margin-text {
  padding-left: 2rem;
  padding-right: 2rem;
}
.text-align {
  text-align: start;
}
.text-align-reverse {
  text-align: end;
}
.story-title {
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
}
.story-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story-item {
  display: flex;
  align-items: stretch;
}
.story-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}
.to-be-continue {
  font-size: 1rem;
  margin-top: 1rem;
}
.date {
  width: 6rem;
  text-align: center;
  padding: 1rem;
  transition: 0.5s ease-out;
  transition: 0.5s ease-in;
  border-radius: 15px 50px;
  background-color: #ffd9c0;
}

.story-section {
  padding: 0.8rem;
  border-radius: 8px;
  text-align: center;
  border: #ffd9c0 solid 2px;
  cursor: pointer;
}
.story-section:hover {
  transition: 0.8s ease-out;
  background-color: #ffd9c0;
}
.our-story {
  color: #434343;
}
.divider-story {
  height: 1px;
  background-color: #d9d9d9;
}
@media screen and (min-width: 600px) {
  .our-story {
    padding-bottom: 0.5rem;
  }
  .story-image {
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 0rem;
  }
  .mobile-on {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .story-text {
    display: none;
  }
  .story-detail {
    padding-bottom: 6rem;
  }
  .story-mobile {
    display: flex;
    flex-direction: column;
  }
  .story-image {
    width: 100%;
    padding-bottom: 0rem;
    padding-top: 0rem;
  }
  .story-node {
    display: none;
  }
  .our-story {
    padding-bottom: 0.5rem;
  }
}
</style>
