<script>
export default {
  data() {
    return {};
  },
  props: {
    iconType: String,
  },
  methods: {},
};
</script>

<template>
  <div class="action-button">
    <svg
      v-if="iconType == 'mute'"
      width="16"
      height="16"
      viewBox="0 0 12 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M7 0.499951C6.99999 0.40161 6.97098 0.305454 6.9166 0.223516C6.86222 0.141577 6.78489 0.0774945 6.69427 0.0392847C6.60366 0.0010748 6.50379 -0.00956497 6.40715 0.00869627C6.31052 0.0269575 6.22142 0.0733088 6.151 0.141951L3.224 2.99195H1.5C1.10218 2.99195 0.720644 3.14999 0.43934 3.43129C0.158035 3.7126 0 4.09413 0 4.49195V7.48195C0 7.87978 0.158035 8.26131 0.43934 8.54261C0.720644 8.82392 1.10218 8.98195 1.5 8.98195H3.223L6.15 11.857C6.22031 11.9259 6.30941 11.9725 6.40612 11.991C6.50283 12.0095 6.60284 11.999 6.69362 11.9609C6.78439 11.9227 6.86189 11.8587 6.9164 11.7767C6.9709 11.6947 6.99999 11.5984 7 11.5V0.499951ZM8.147 4.14595C8.24076 4.05222 8.36792 3.99956 8.5005 3.99956C8.63308 3.99956 8.76024 4.05222 8.854 4.14595L10.001 5.29295L11.147 4.14595C11.2409 4.0522 11.3682 3.99958 11.5009 3.99967C11.6335 3.99977 11.7607 4.05256 11.8545 4.14645C11.9483 4.24034 12.0009 4.36762 12.0008 4.5003C12.0007 4.63299 11.9479 4.7602 11.854 4.85395L10.708 5.99995L11.854 7.14595C11.9005 7.19237 11.9374 7.2475 11.9626 7.30818C11.9877 7.36886 12.0007 7.4339 12.0008 7.4996C12.0008 7.5653 11.9879 7.63036 11.9628 7.69107C11.9377 7.75179 11.9009 7.80696 11.8545 7.85345C11.8081 7.89994 11.753 7.93683 11.6923 7.96201C11.6316 7.9872 11.5666 8.00018 11.5009 8.00023C11.4352 8.00028 11.3701 7.98738 11.3094 7.96228C11.2487 7.93718 11.1935 7.90037 11.147 7.85395L10 6.70695L8.853 7.85395C8.75911 7.94771 8.63183 8.00032 8.49915 8.00023C8.36646 8.00014 8.23925 7.94734 8.1455 7.85345C8.05175 7.75957 7.99913 7.63228 7.99922 7.4996C7.99932 7.36692 8.05211 7.23971 8.146 7.14595L9.293 5.99995L8.147 4.85395C8.10044 4.80751 8.06349 4.75233 8.03829 4.69159C8.01308 4.63084 8.00011 4.56572 8.00011 4.49995C8.00011 4.43418 8.01308 4.36906 8.03829 4.30832C8.06349 4.24757 8.10044 4.1924 8.147 4.14595V4.14595Z"
        fill="black"
      />
    </svg>
    <svg
      v-if="iconType == 'unmute'"
      width="16"
      height="16"
      viewBox="0 0 12 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M7 0.499951C6.99999 0.40161 6.97098 0.305454 6.9166 0.223516C6.86222 0.141577 6.78489 0.0774945 6.69427 0.0392847C6.60366 0.0010748 6.50379 -0.00956497 6.40715 0.00869627C6.31052 0.0269575 6.22142 0.0733088 6.151 0.141951L3.224 2.99195H1.5C1.10218 2.99195 0.720644 3.14999 0.43934 3.43129C0.158035 3.7126 0 4.09413 0 4.49195V7.48195C0 7.87978 0.158035 8.26131 0.43934 8.54261C0.720644 8.82392 1.10218 8.98195 1.5 8.98195H3.223L6.15 11.857C6.22031 11.9259 6.30941 11.9725 6.40612 11.991C6.50283 12.0095 6.60284 11.999 6.69362 11.9609C6.78439 11.9227 6.86189 11.8587 6.9164 11.7767C6.9709 11.6947 6.99999 11.5984 7 11.5V0.499951ZM8.111 3.18895C8.15188 3.13751 8.2025 3.09462 8.25997 3.06275C8.31744 3.03089 8.38063 3.01066 8.44592 3.00323C8.51121 2.9958 8.57732 3.00131 8.64048 3.01945C8.70364 3.03759 8.7626 3.06801 8.814 3.10895L8.816 3.10995L8.818 3.11195L8.823 3.11595L8.838 3.12895L8.884 3.16895C8.92 3.20295 8.969 3.24895 9.026 3.31095C9.139 3.43395 9.286 3.61295 9.431 3.85095C9.722 4.33095 10.004 5.04395 10.004 5.99895C10.004 6.95295 9.722 7.66695 9.431 8.14695C9.31433 8.34031 9.17866 8.52154 9.026 8.68795C8.96241 8.75703 8.89497 8.82247 8.824 8.88395L8.816 8.89095H8.815C8.815 8.89095 8.368 9.13395 8.112 8.81295C8.02968 8.70996 7.99138 8.57861 8.00542 8.44751C8.01947 8.31641 8.08473 8.19617 8.187 8.11295L8.189 8.11095L8.188 8.11195L8.19 8.11095H8.189L8.207 8.09495C8.225 8.07795 8.255 8.04995 8.292 8.00995C8.39909 7.89234 8.49423 7.76438 8.576 7.62795C8.786 7.28295 9.004 6.74595 9.004 5.99795C9.004 5.25095 8.786 4.71495 8.576 4.37095C8.47318 4.20123 8.34956 4.04502 8.208 3.90595C8.15332 3.86617 8.10727 3.8157 8.07265 3.75761C8.03803 3.69953 8.01556 3.63502 8.00658 3.56799C7.99761 3.50097 8.00233 3.43282 8.02044 3.36767C8.03856 3.30252 8.06971 3.24172 8.112 3.18895H8.111ZM9.813 1.10895C9.76181 1.06659 9.70269 1.03485 9.6391 1.0156C9.5755 0.996346 9.50871 0.98996 9.44262 0.996817C9.37653 1.00367 9.31247 1.02363 9.25418 1.05553C9.19589 1.08743 9.14455 1.13062 9.10315 1.18259C9.06175 1.23456 9.03112 1.29426 9.01305 1.3582C8.99499 1.42215 8.98985 1.48905 8.99793 1.555C9.00602 1.62095 9.02717 1.68463 9.06015 1.74231C9.09312 1.79999 9.13727 1.85052 9.19 1.89095L9.201 1.90095L9.253 1.94595C9.3 1.98795 9.369 2.05295 9.454 2.14095C9.624 2.31795 9.854 2.58395 10.084 2.93495C10.544 3.63595 11.004 4.66795 11.004 6.00395C11.0066 7.09403 10.6865 8.16049 10.084 9.06895C9.854 9.41895 9.624 9.68295 9.454 9.85895C9.37359 9.94264 9.28951 10.0227 9.202 10.099L9.191 10.109H9.19C9.08908 10.1925 9.02497 10.3123 9.01145 10.4426C8.99794 10.5728 9.03609 10.7032 9.11772 10.8057C9.19934 10.9082 9.31791 10.9745 9.44794 10.9904C9.57796 11.0064 9.70904 10.9707 9.813 10.891L9.846 10.864L9.921 10.799C9.984 10.742 10.071 10.661 10.174 10.554C10.4512 10.2658 10.7009 9.95243 10.92 9.61795C11.6292 8.54629 12.0059 7.289 12.003 6.00395C12.0055 4.71771 11.6288 3.45926 10.92 2.38595C10.701 2.05108 10.4516 1.73708 10.175 1.44795C10.0705 1.33933 9.96103 1.23555 9.847 1.13695L9.824 1.11795L9.817 1.11195L9.815 1.10995L9.813 1.10895V1.10895ZM8.19 3.88995L8.188 3.88895L8.19 3.88995Z"
        fill="black"
      />
    </svg>
    <svg
      v-if="iconType == 'down'"
      width="16"
      height="10"
      viewBox="0 0 16 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M2 0L8 6L14 0L16 2L8 10L0 2L2 0Z"
        fill="#434343"
      />
    </svg>
    <svg
      v-if="iconType == 'up'"
      width="16"
      height="16"
      viewBox="0 0 48 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5.64 29.64L24 11.32L42.36 29.64L48 24L24 0L0 24L5.64 29.64Z"
        fill="#434343"
      />
    </svg>
  </div>
</template>

<style scoped>
.action-button {
  background: white;
  border-radius: 40px;
  opacity: 0.5;
  border: 2px solid #ac8969;
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.action-button:hover {
  transition: 0.5s ease-in-out;
  width: 80px;
  height: 80px;
  opacity: 1;
}
.button-text {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}
</style>
