<template></template>

<script>
export default {
  data() {
    return {
      audio: new Audio(),
    };
  },
  mounted() {
    let me = this;
    me.audio.src = "./assets/audio/up_ost.mp3";
    me.audio.play();
  },
};
</script>

<style></style>
