<script>
export default {
  data() {
    return {};
  },
  props: {
    iconType: String,
    buttonTitle: String,
  },
  methods: {},
};
</script>

<template>
  <div class="action-button">
    <div class="btn-text">
      <span>{{ buttonTitle }}</span>
    </div>
  </div>
</template>

<style scoped>
.action-button {
  background: #ac8969;
  border-radius: 5px;
  width: 20rem;
  height: 60px;
  cursor: pointer;
  flex-direction: row;
  display: flex;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  border: 2px solid #ac8969;
  transition: ease-in-out 0.4s;
}

.action-button:hover {
  background: white;
  transition: ease-in-out 0.4s;
  color: #ac8969;
}
</style>
