<script setup></script>
<script>
export default {
  data() {
    return {};
  },
  props: {
    blessings: {
      type: Array,
      default: () => [],
    },
  },
  methods: {},
};
</script>

<template>
  <div class="message-field">
    <div class="first-one" v-if="blessings.length == 0">
      <div class="no-data">
        Oops no one is here yet. Be the first one to give us your blessing! 😊
      </div>
    </div>
    <div class="field-item" :key="index" v-for="(congrat, index) in blessings">
      <div class="person">
        <div class="avatar">
          <svg
            width="40"
            height="40"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_176_22)">
              <path
                d="M9 5C9 5.79565 8.68393 6.55871 8.12132 7.12132C7.55871 7.68393 6.79565 8 6 8C5.20435 8 4.44129 7.68393 3.87868 7.12132C3.31607 6.55871 3 5.79565 3 5C3 4.20435 3.31607 3.44129 3.87868 2.87868C4.44129 2.31607 5.20435 2 6 2C6.79565 2 7.55871 2.31607 8.12132 2.87868C8.68393 3.44129 9 4.20435 9 5V5ZM0 13C0 14 1 14 1 14H11C11 14 12 14 12 13C12 12 11 9 6 9C1 9 0 12 0 13ZM13.5 4.91C14.887 3.485 18.355 5.98 13.5 9.187C8.646 5.98 12.113 3.485 13.5 4.911V4.91Z"
                fill="#434343"
              />
            </g>
            <defs>
              <clipPath id="clip0_176_22">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="person-name">
          {{ congrat.name }}
        </div>
      </div>
      <div class="message-buble tri-right left-in border">
        {{ congrat.congrat }}
      </div>
    </div>
  </div>
</template>

<style scoped>
.blessing-title {
  margin: 2rem;
  margin-left: auto;
  margin-right: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  background-color: white;
  opacity: 0.8;
  color: #434343;
  width: fit-content;
}
.message-field {
  width: 100%;
  flex-direction: column;
  display: flex;
  max-height: 100vh;
  overflow-y: auto;
  text-align: start;
  font-family: "Niramit";
  font-style: normal;
  font-weight: 400;
  overflow-y: auto;
  font-size: 18px;
  line-height: 23px;
  color: white;
}
.field-item {
  display: flex;
  margin-bottom: 2rem;
}
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  opacity: 0.8;
  background-color: white;
}
.no-data {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: "Niramit";
  margin: 2rem;
}
.image-empty {
  width: 100px;
}
.message-buble {
  padding: 10px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.25);
}
.person-name {
  padding: 2rem;
  color: white;
  width: fit-content;
}
@media screen and (max-width: 600px) {
  .person {
    width: 100%;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  .field-item {
    flex-direction: column;
    align-items: center;
  }
  .avatar {
    display: none;
  }
  .message-buble {
    margin-left: 0;
    text-align: center;
  }
}

.round {
  border-radius: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
.border {
  border: white solid 1px;
}
</style>
