<script>
export default {
  data() {
    return {
      index: 0,
      navBar: [
        {
          name: "Home",
          path: "/",
          isActive: true,
          event: "home",
        },
        {
          name: "Our Story",
          path: "/",
          isActive: true,
          event: "ourstory",
        },
        {
          name: "Invitation",
          path: "/",
          isActive: true,
          event: "invitation",
        },
        {
          name: "Gallery",
          path: "/",
          isActive: true,
          event: "gallery",
        },
        {
          name: "Messages to us",
          path: "/",
          isActive: true,
          event: "congrat",
        },
      ],
    };
  },
};
</script>

<template>
  <div class="navbar-row hide-on-mobile">
    <div class="navbar-brand" :key="index" v-for="(navItem, index) in navBar">
      <div class="navbar-item" v-on:click="$emit('navbarClick', navItem.event)">
        {{ navItem.name }}
      </div>
    </div>
  </div>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
a {
  color: #42b983;
}
.navbar-row {
  display: flex;
  align-items: center;
  font-family: "Bellefair", serif;
  justify-content: space-between;
  color: white;
}
.navbar-brand {
  padding-right: 24px;
  font-size: 24px;
  cursor: pointer;
  line-height: 32px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
}
</style>
