<script setup></script>
<script>
export default {
  data() {
    return {};
  },
  props: { title: String, subtitle: String, iswhite: Boolean },
  methods: {},
};
</script>

<template>
  <div class="page-title">
    <span :class="iswhite ? 'white' : ''">{{ title }}</span>
    <div class="divider-row">
      <div
        :class="iswhite ? 'white-divider sub-divider ' : 'sub-divider '"
      ></div>
      <div :class="iswhite ? 'white viet-title ' : 'viet-title '">
        {{ subtitle }}
      </div>
      <div
        :class="iswhite ? 'white-divider sub-divider ' : 'sub-divider '"
      ></div>
    </div>
  </div>
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.white {
  color: white !important;
}
.white-divider {
  background-color: white !important;
}
span {
  font-family: "Baskervville", serif;
  font-weight: bold;
  font-size: 14px;
  color: #ac8969;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  margin-top: 5rem;
}
.divider-row {
  display: flex;
  align-items: center;
}
.sub-divider {
  width: 8rem;
  height: 1px;
  margin-bottom: 40px;
  background-color: #ac8969;
}
.viet-title {
  font-family: "Italianno", cursive;
  font-size: 64px;
  margin-bottom: 2rem;
  line-height: 36px;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (max-width: 600px) {
  .sub-divider {
    width: 4rem;
  }
  .viet-title {
    font-family: "Italianno", cursive;
    font-size: 40px;
  }
}
</style>
