<script setup></script>
<script>
export default {
  data() {
    return {};
  },
  props: ["value"],
  computed: {},
};
</script>

<template>
  <textarea
    class="text-field"
    placeholder="Hãy gửi những lời chúc mừng của bạn tại đây."
    type="text"
    v-model="value"
  />
</template>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap");

.text-field {
  height: 20vh;
  display: block;
  width: 100%;
  border: 1px solid #ac8969;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-family: "Niramit";
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  color: #ac8969;
}
.text-field::placeholder {
  color: #ac8969;
}
@media screen and (max-width: 600px) {
  .text-field {
    height: 20vh;
    display: block;
    width: 80vw;
  }
}
</style>
