<template>
  <div id="anime-demo" class="word-drawing">
    <div class="word-wrapper">
      <div class="ml3 title">
        Nguyet<br />
        Minh
      </div>
    </div>

    <div class="slash">/</div>

    <div class="ml4 title">
      Minh<br />
      Giang
    </div>
  </div>
</template>

<script>
import anime from "animejs/lib/anime.es.js";
export default {
  data() {
    return {
      words: "Test",
      lineDrawing: null,
      color: "#fff",
    };
  },
  async mounted() {
    let me = this;
    var textWrapper1 = document.querySelector(".ml3");
    var textWrapper = document.querySelector(".ml4");
    textWrapper1.innerHTML = textWrapper1.textContent.replace(
      /\S/g,
      "<span class='letter'>$&</span>"
    );
    textWrapper.innerHTML = textWrapper.textContent.replace(
      /\S/g,
      "<span class='letter2'>$&</span>"
    );

    await anime.timeline({ loop: false }).add({
      targets: ".slash",
      opacity: [0, 1],
      easing: "easeInOutQuad",
      duration: 1500,
      delay: (el, i) => 100 * (i + 1),
    });
    await anime.timeline({ loop: false }).add({
      targets: ".ml3 .letter",
      opacity: [0, 1],
      easing: "easeInOutQuad",
      duration: 1500,
      delay: (el, i) => 50 * (i + 1),
    });
    await anime.timeline({ loop: false }).add({
      targets: ".ml4 .letter2",
      opacity: [0, 1],
      easing: "easeInOutQuad",
      duration: 1500,
      delay: (el, i) => 100 * (i + 1),
    });
  },
  methods: {
    changeColor() {
      this.color = "#fff";
    },
  },
};
</script>

<style>
@keyframes change {
  from {
    fill: #000;
  }
  to {
    fill: #fff;
  }
}
.word-drawing {
  display: flex;
}
#title-svg {
  stroke: #fff;
  animation-name: change;
  animation-duration: 6s;
  stroke-width: 2;
  fill: #fff;
}

.slash {
  font-family: "Mileur";
  font-size: 200px;
  line-height: 160px;
  color: #fff;
}
.title {
  font-family: "Mileur";
  font-size: 90px;
  line-height: 80px;
  width: 22rem;
  block-size: fit-content;
  color: #fff;
  text-align: start;
}
@media screen and (max-width: 600px) {
  .word-wrapper {
    width: 140px;
  }
  .title {
    font-size: 40px;
    line-height: 36px;
    width: 200px;
  }
  .slash {
    font-size: 90px;
    line-height: 70px;
  }
}
</style>
