<script setup>
import HomePage from "./pages/HomePage.vue";
import InvitationPage from "./pages/InvitationPage.vue";
import GalleryPage from "./pages/GalleryPage.vue";
import OurStory from "./pages/OurStory.vue";
import CongratUs from "./pages/CongratUs.vue";
import ActionButton from "./components/ActionButton.vue";
</script>

<template>
  <div class="app-bg" v-on:click="playAudio">
    <HomePage v-on:navbarclick="onNavBarClicked" id="home" />
    <OurStory id="ourstory" class="reveal" />
    <GalleryPage id="gallery" class="reveal" v-on:totop="scrollToGallery" />
    <InvitationPage
      id="invitation"
      :name="name"
      :type="personType"
      :with="personWith"
      :from="from"
      v-on:sent="sentEvent"
    />

    <CongratUs id="congrat" :key="congratKey" :name="name" />
    <div class="floating-button right-position">
      <ActionButton v-on:click="muteAudio" :icon-type="muteStatus" />
      <ActionButton
        v-show="currentPage != 'home'"
        v-on:click="onFloatingButtonClicked('up')"
        icon-type="up"
      />
      <ActionButton
        v-show="currentPage != 'congrat'"
        v-on:click="onFloatingButtonClicked('down')"
        icon-type="down"
      />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currentPage: "home",
      lastScrollTop: 0,
      upAudio: new Audio(),
      muteStatus: "mute",
      name: "",
      from: 1,
      congratKey: 0,
      personType: "",
      personWith: "",
    };
  },
  created() {
    let me = this;
    let urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has("name")) {
      me.name = urlParams.get("name");
    }
    if (urlParams.has("type")) {
      me.personType = urlParams.get("type");
    }
    if (urlParams.has("with")) {
      me.personWith = urlParams.get("with");
    }
    if (urlParams.has("from")) {
      me.from = urlParams.get("from");
    }
    me.upAudio.src =
      "https://firebasestorage.googleapis.com/v0/b/dddd-275917.appspot.com/o/WaveAlpha-7uppercutsCAM-5822434.mp3?alt=media&token=f708446e-a3ed-44be-8aca-bfcd51d9611d";
    window.onscroll = function (e) {
      me.naturalScrolling(e);
    };
  },

  components: {
    HomePage,
    CongratUs,
    InvitationPage,
    GalleryPage,
  },
  methods: {
    sentEvent() {
      this.congratKey += 1;
    },
    onNavBarClicked(navItem) {
      this.goto(navItem);
    },
    onFloatingButtonClicked(dirrection) {
      let me = this;
      if (dirrection == "up") {
        if (me.currentPage == "ourstory") {
          me.goto("home");
        } else if (me.currentPage == "gallery") {
          me.goto("ourstory");
        } else if (me.currentPage == "invitation") {
          me.goto("gallery");
        } else if (me.currentPage == "congrat") {
          me.goto("invitation");
        }
        return;
      }
      if (me.currentPage == "home") {
        me.goto("ourstory");
      } else if (me.currentPage == "ourstory") {
        me.goto("gallery");
      } else if (me.currentPage == "gallery") {
        me.goto("invitation");
      } else if (me.currentPage == "invitation") {
        me.goto("congrat");
      }
    },
    scrollToGallery() {
      this.goto("gallery");
    },
    goto(id) {
      this.currentPage = id;
      let currentPageDOM = document.getElementById(id);

      currentPageDOM.scrollIntoView({
        behavior: "smooth",
      });
      currentPageDOM.classList.add("active");
    },
    naturalScrolling(el) {
      let me = this;
      var st = window.pageYOffset || document.documentElement.scrollTop;
      if (st > me.lastScrollTop) {
        if (me.currentPage == "home") {
          me.updateScrollPosition("ourstory", "down");
        } else if (me.currentPage == "ourstory") {
          me.updateScrollPosition("gallery", "down");
        } else if (me.currentPage == "gallery") {
          me.updateScrollPosition("invitation", "down");
        } else if (me.currentPage == "invitation") {
          me.updateScrollPosition("congrat", "down");
        }
      } else {
        if (me.currentPage == "ourstory") {
          me.updateScrollPosition("home", "up");
        } else if (me.currentPage == "gallery") {
          me.updateScrollPosition("ourstory", "up");
        } else if (me.currentPage == "invitation") {
          me.updateScrollPosition("gallery", "up");
        } else if (me.currentPage == "congrat") {
          me.updateScrollPosition("invitation", "up");
        }
      }
      me.lastScrollTop = st <= 0 ? 0 : st;
    },
    updateScrollPosition(id, dirrection) {
      let me = this;
      var nextPage = document.getElementById(id);
      var screenPosition = nextPage.getBoundingClientRect();
      if (screenPosition.top <= 0 && dirrection == "down") {
        me.currentPage = id;
      } else if (screenPosition.top >= 0 && dirrection == "up") {
        nextPage.classList.add("active");
        me.currentPage = id;
      }
      nextPage.classList.add("active");
      if (screenPosition.top >= -200 && dirrection == "up") {
        nextPage.classList.add("active");
      } else if (screenPosition.top >= 200 && dirrection == "up") {
        nextPage.classList.add("active");
      }
    },
    playAudio() {
      this.upAudio.play();
    },
    muteAudio() {
      let me = this;
      this.upAudio.muted = !this.upAudio.muted;
      if (this.upAudio.muted) {
        me.muteStatus = "unmute";
        return;
      }
      me.muteStatus = "mute";
    },
  },
};
</script>
<style>
@font-face {
  font-family: "Merienda";
  src: local("Merienda"),
    url(./fonts/Merienda/Merienda-Regular.ttf) format("truetype");
}
.divider {
  height: 1px;
  width: 90vw;
  background-color: #d9d9d9;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
.app-bg {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.floating-button {
  position: fixed;
  bottom: 40px;
}

.center-title {
  height: 40rem;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

.center-position {
  left: 50%;
  transform: translateX(-50%);
}
.right-position {
  right: 5%;
}
.reveal {
  transition: 1s all ease;
  transform: translateY(10px);
}
@media screen and (max-width: 600px) {
  .reveal {
    opacity: 1;
  }
}

.reveal.active {
  transform: translateY(0);
}
.divider-vertical {
  width: 1px;
  background-color: #d9d9d9;
}
</style>
